/**
 * @file :
 * Contains CSS use in all files
 */


html,
body {
    margin: 0;
    padding: 0;
}

/**
 * GENERAL
 */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}


header {
    background-color: #761c19;
    padding: 30px;
    margin-bottom: 30px;
}
header h1 {
    text-align: center;
    font-weight: 600;
    color: white;
}


/**
 * Panel override
 */

.main-panel {
    margin-left: 20px;
    margin-right: 20px;
}

.panel-title-subtitle {
    font-size: 12px;
}
.panel-default > .custom-panel-heading {
    background-color: #761c19;
}

.panel-default > .panel-heading > .panel-title {
    color: white;
}

.sub-panel {
    margin-top: 20px;
}
button > a {
    color: white;
}

.paragraph {
    padding-left: 15px;
    border-left: 5px #761c19 solid;
}