html,
body {
    padding: 0;
    margin: 0;
}

/**
 * HEADER
 */
header {
    background-color: red;
    padding: 20px auto;
    margin-bottom: 30px;
    text-align: center;
}
header h1 {
    font-size: 4em;
    color: white;
}
header p {
    color: white;
}

/**
 * COL LEFT
 */
.col-left {
    background-color: blue;
}

/**
 * COL RIGHT
 */
.col-right {
    background-color: yellow;
}